PCB_project/water_height_meter-cache.*
PCB_project/water_height_meter.kicad_pcb-bak
PCB_project/water_height_meter.sch-bak
code/water_height_meter/.vs/
code/water_height_meter/.vs/*
code\water_height_meter\.vs\water_height_meter\v14\.atsuo
code/water_height_meter/Debug/*
code/water_height_meter/Debug/
code/water_height_meter/water_height_meter.atsln
